<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Star Wars API - Choose Your Destiny</title>
</head>
<body>
<h1>The Star Wars API</h1>
<h2>You can search:</h2>
<h3>People:</h3>
<form action="/people" method="get">
    <label>People id:</label>
    <input name="id" placeholder="1" required type="number">
    <input type="submit" value="Send">
</form>
<h3>Planet:</h3>
<form action="/planet" method="get">
    <label>Planet id:</label>
    <input name="id" placeholder="1" required type="number">
    <input type="submit" value="Send">
</form>
</body>
</html>