<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student form</title>
</head>
<body>
<h3>Enter your student infos:</h3>
<form action="/student" method="get">
    <label for="first-name">First name:</label>
    <input id="first-name" name="firstName" type="text" required>
    <br><br>
    <label for="last-name">Last name:</label>
    <input id="last-name" name="lastName" type="text" required>
    <br><br>
    <label for="age">Age:</label>
    <input id="age" name="age" type="number" required>
    <br><br>
    <input type="submit" value="Send">
</form>
</body>
</html>