/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
header{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    margin-top:0;
}
header h1{
    padding: 0.5rem;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}
.content{
    display: grid;
    grid-template: 100% / 70% 30%;
    grid-template-areas:"first second";
}
#corps{
    grid-area: first;
}
section{
    grid-area: second;
}
