body{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: antiquewhite;
}
img{
    width: 100%;
    height: 550px;
}

.ecrit{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#message{
    width: 100%;
    height: 2em;
    padding: 1em;
    border-color: aliceblue;
}
button{
    width: 6em;
    padding: 1em;
    margin-left: 2em;
}
